<div class="panel panel-primary">
    <div class="panel-heading">
        Employee Form
    </div>
    <div class="panel-body">
        <form (submit)="formSubmit()">
            <div class="form-group" [class.has-error]="firstName.invalid">
                <label for="firstname"
                    class="control-label">
                    First Name
                </label>
                <input type="text"
                        class="form-control"
                        type="text"
                        id="firstname"
                        name="firstname"
                        placeholder="Firstname"
                        [ngModel]= "model.firstname"
                        (ngModelChange)="firstToUpper($event)"
                        #firstName="ngModel"
                        required/>
                <div class="alert alert-danger" *ngIf="firstName.invalid">
                    First Name is required
                </div>
            </div>
            <div>
                <h1>Classess</h1>
                <h2>{{firstName.invalid}}</h2>
            </div>
            <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text"
                            class="form-control"
                            type="text"
                            id="lastname"
                            name="lastname"
                            [(ngModel)]="model.lastname"
                            placeholder="Lastname"
                            required/>
            </div>
            <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text"
                            class="form-control"
                            type="email"
                            id="email"
                            name="email"
                            [(ngModel)]="model.email"
                            placeholder="Email"
                            required/>
            </div>
            <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text"
                            class="form-control"
                            type="password"
                            id="password"
                            name="password"
                            [(ngModel)]="model.password"
                            placeholder="Password"
                            required/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                        name="fulltime"
                        [(ngModel)]="model.fulltime"
                        value="fulltime"/>
                    Full Time
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                        name="gender"
                        [(ngModel)]="model.gender"
                        value="female"/>
                    Female
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                        name="gender"
                        [(ngModel)]="model.gender"
                        value="male"/>
                        Male
                </label>
            </div>
            <div class="form-group">
                <label>Code Lang</label>
                <select class="form-control"
                    name="codelang"
                    [(ngModel)]="model.codelang">
                    <option *ngFor="let lang of languages">
                        {{lang}}
                    </option>
                </select>
            </div>
            <button type="submit"
                    class="btn btn-success">
                Submit
            </button>&nbsp;
            <button type="reset"
                    class="btn btn-danger">
                Reset
            </button>

        </form>
        
    </div>
</div>