<div class="panel panel-primary">
    <div class="panel-heading">
        Employee Form
    </div>
    <div class="panel-body">
        <form #form="ngForm" (submit)="formSubmit(form)">
            <div class="form-group" [class.has-error]="firstName.invalid">
                <label for="firstname"
                    class="control-label">
                    First Name
                </label>
                <input type="text"
                        class="form-control"
                        type="text"
                        id="firstname"
                        name="firstname"
                        placeholder="Firstname"
                        [ngModel]= "model.firstname"
                        (ngModelChange)="firstToUpper($event)"
                        #firstName="ngModel"
                        required/>
                <div class="alert alert-danger" *ngIf="firstName.invalid">
                    First Name is required
                </div>
            </div>
            <div>
                <h1>Classess</h1>
                <h2>{{firstName.invalid}}</h2>
            </div>
            <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text"
                            class="form-control"
                            type="text"
                            id="lastname"
                            name="lastname"
                            [(ngModel)]="model.lastname"
                            placeholder="Lastname"
                            required/>
            </div>
            <div class="form-group" [class.has-error]="email.invalid && email.touched">
                    <label class="control-label" for="email">Email</label>
                    <input type="text"
                            class="form-control"
                            type="email"
                            id="email"
                            name="email"
                            [(ngModel)]="model.email"
                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                            placeholder="Email"
                            #email="ngModel"
                            required/>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                       Enter Valid email
                    </div>
            </div>
            <div class="form-group" [class.has-error]="password.invalid && password.touched">
                    <label class="control-label" for="password">
                        Password
                    </label>
                    <input type="text"
                            class="form-control"
                            type="password"
                            id="password"
                            name="password"
                            [(ngModel)]="model.password"
                            placeholder="Password"
                            minlength="8"
                            #password="ngModel"
                            required/>
                    <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                        Min length is 8
                    </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                        name="fulltime"
                        [(ngModel)]="model.fulltime"
                        value="fulltime"/>
                    Full Time
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                        name="gender"
                        [(ngModel)]="model.gender"
                        value="female"/>
                    Female
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                        name="gender"
                        [(ngModel)]="model.gender"
                        value="male"/>
                        Male
                </label>
            </div>
            <div class="form-group" [class.has-error]="hasCodeLangError">
                <label>Code Lang</label>
                <select class="form-control"
                    name="codelang"
                    [(ngModel)]="model.codelang"
                    (blur)="validateCodelang($event)">
                    <option value="default">
                        Please select valid option
                    </option>
                    <option *ngFor="let lang of languages">
                        {{lang}}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="hasCodeLangError">
                        Please Selecte valid input
                </div>
            </div>
            <button type="submit"
                    [disabled]="hasCodeLangError"
                    class="btn btn-success">
                Submit
            </button>&nbsp;
            <button type="reset"
                    class="btn btn-danger">
                Reset
            </button>

        </form>
        
    </div>
</div>