<h1>{{title}}</h1>
<p>{{marks}}</p>
<p>Full Stack Developer
        The crossover between design and programming has always been of interest to me, I've been lucky enough to work alongside some talented teams on a number of high profile websites. I have a wide range of skills that include back-end development using open source technologies (NodeJs, PHP), design (working closely with designers), front-end development (AngularJs, Angular2, ReactJs, HTML5, CSS3, Javascript, Responsive, UX), Server Administrator(AWS, IBM, Azure),database(MongoDB,cassendra,Mysql), load balancing (Varnish and Memcached)
        Full Stack Developer
        The crossover between design and programming has always been of interest to me, I've been lucky enough to work alongside some talented teams on a number of high profile websites. I have a wide range of skills that include back-end development using open source technologies (NodeJs, PHP), design (working closely with designers), front-end development (AngularJs, Angular2, ReactJs, HTML5, CSS3, Javascript, Responsive, UX), Server Administrator(AWS, IBM, Azure),database(MongoDB,cassendra,Mysql), load balancing (Varnish and Memcached)
        Full Stack Developer
        The crossover between design and programming has always been of interest to me, I've been lucky enough to work alongside some talented teams on a number of high profile websites. I have a wide range of skills that include back-end development using open source technologies (NodeJs, PHP), design (working closely with designers), front-end development (AngularJs, Angular2, ReactJs, HTML5, CSS3, Javascript, Responsive, UX), Server Administrator(AWS, IBM, Azure),database(MongoDB,cassendra,Mysql), load balancing (Varnish and Memcached)
        Full Stack Developer
        The crossover between design and programming has always been of interest to me, I've been lucky enough to work alongside some talented teams on a number of high profile websites. I have a wide range of skills that include back-end development using open source technologies (NodeJs, PHP), design (working closely with designers), front-end development (AngularJs, Angular2, ReactJs, HTML5, CSS3, Javascript, Responsive, UX), Server Administrator(AWS, IBM, Azure),database(MongoDB,cassendra,Mysql), load balancing (Varnish and Memcached)</p>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <input type="text"/>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <input type="text"/>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <input type="text"/>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <input type="text"/>
            </div>
        </div>
        
        <app-book></app-book>
<button type="button" class="btn btn-success">Submit</button>